#header-content{
  color: var(--gray-400);
  width: 680px;
  text-align: center;
  

 
}

#header-content :nth-child(2){
  font: var(--text-sub-tt);
  color: var(--gray-500);
  margin: 56px 0px 8px;
 
}

h1{
  font: var(--tittle-lg);
  color: var(--gray-600);
}