main{  
display: flex;
justify-content: center;  
align-items: center;

/*p{
  display: flex;
  color: var(--red);
  font: var(--text-sub-tt);
  justify-content: center;  
  align-items: center;
  margin-block: 20px;
}

h1{
  color: var(--gray-600);
  font: var(--tittle-md);
  margin-bottom: 56px;
  display: block;
}  */

}

nav{
width: 1040px;
height: 584px;
display: grid; 
grid-template-columns: repeat(3, 1fr); 
gap: 20px; 
margin: 0 auto 144px;


  figure span{
    font: var(--tittle-sm);
    color: var(--gray-600);

  }

  p{
    font: var(--text-sm);
    color: var(--gray-500);;
  }

  img{
    width: 306px;
    height: 156px;
    border-radius: 8px;
  }

 figure{
    border: 1px solid var(--gray-300);
    border-radius: 12px;
    padding: 12px;
    background-color: var(--gray-300);
    display: flex;
    flex-direction: column; /* Alinha os elementos dentro do <figure> em coluna */
    align-items: center;
  }

  figcaption, p{
    margin-top: 12px;
  }
  
  
}

