.grid{
  display: grid;
}

.grid-flow-col{
  grid-auto-flow: column;
}

.grid-flow-col-2{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas de tamanhos iguais */
  grid-gap: 24px;
}


.text-sm{
font: var(--text-sm)
}

.p_h1{
   p{
  display: flex;
  color: var(--red);
  font: var(--text-sub-tt);
  justify-content: center;  
  align-items: center;
  margin-block: 20px;
}

h1{
  color: var(--gray-600);
  font: var(--tittle-md);
  margin-bottom: 56px;
  display: block;
}}

