.grid{
  display: grid;
}

.grid-flow-col{
  grid-auto-flow: column;
}

.grid-flow-rows{
  grid-template-rows: auto;
}

.grid-flow-col-2{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas de tamanhos iguais */
  grid-gap: 24px;
}
.grid-flow-col-1{
  display: grid;
  grid-gap: 24px;
}


.text-sm{
font: var(--text-sm)
}

.p{
  display: flex;
  color: var(--gray-500);
  font: var(--text-md);
  justify-content: center;  
  align-items: center;
  margin: 2px;
}

.p_purple{
  color: var(--purple);
}

.h3{
  color: var(--gray-600);
  font: var(--tittle-md);
  display: flex;
  justify-content: center;  
  align-items: center;
}



