.grid{
  display: grid;
}

.grid-flow-col{
  grid-auto-flow: column;
}

.grid-flow-col-2{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas de tamanhos iguais */
  grid-gap: 24px;
}


.text-sm{
font: var(--text-sm)
}

